__pycache__/
test.png
output.csv
output_0.csv
output_1.csv
output_3.csv
output_optimal.csv
output_cl.csv
test/mygif.gif
results.txt
code/results_a_star.txt
results_a_star.txt
results_random.txt
code/analysis/results_random.txt
data/br_vs_a.txt